section {
  overflow-x: hidden;

}

// .text-anim {
//   overflow: hidden;
// }


.hero {
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  padding-top: 30vh;
  position: relative;

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

  }

  @include tablet {
    padding-top: 200px;
        min-height: 100svh;
    justify-content: flex-end
  }
}

.hero-title__wrap {
  position: relative;
  width: fit-content;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 10vh;
  }

  h1 {
    opacity: 0;
    pointer-events: none;
    position: absolute;

  }

  .title-decor {
    width: 62.774px;
    height: 56px;
    margin-bottom: 18px;

    svg {
      width: 100%;
      height: 100%;

    }

    @include tablet {
      width: 89.678px;
      height: 80px;
      position: absolute;
      left: 100%;
      top: 0;
    }
  }

  &>svg {
    width: 92vw;
    height: auto;
    margin-bottom: 20px;


    @include tablet {
      width: 67vw;
      margin-bottom: 42px;

    }

    @include laptop {
      width: 47vw;
    }
  }

  h2 {
    @include title-text;


    & {
      font-size: 9.4vw;
      color: $wc;
      white-space: nowrap;
    }

    @include tablet {
      font-size: 6.8vw;

    }

    @include laptop {
      font-size: 4.8vw;
    }
  }
}

.hero-content {
  padding-bottom: 16px;

  @include tablet {
    padding-bottom: 20px;
  }
}



.general-btn {
  @include tiny-text;
  background-color: $accent-color;
  color: $wc;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include tablet {
    // width: 67vw;

    &:hover,
    &:focus {
      background-color: $accent-color--hover;
    }
  }

  @include laptop {
    width: 47vw;
  }
}

.info-wrap {
  background: $bg-color;
  border-radius: 4px;

  // @include tablet {
  //   width: 67vw;
  // }

  @include laptop {
    width: 47vw;
  }

  @include tablet {
    display: flex;

  }
}

.info-block {
  padding: 16px;
  border-bottom: 1px solid $border-color;
  

  &:last-child {
    border: none;
  }

  @include tablet {
    border: none;
    border-right: 1px solid $border-color;
    width: 37%;

    &:nth-child(2) {
      width: 36%;
    }

    &:last-child {
      border: none;
      width: auto;
    }
  }

  &__title {
    @include tiny-text;
    font-size: 14px;
    opacity: 0.5;
    margin-bottom: 12px;

    @include tablet {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__descr {
    @include tiny-text;
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &>p, &>a {
      display: flex;
      align-items: center;
    }
    @include tablet {
      font-size: 16px;

    }

    span {
      margin-right: 4px
    }
  }
}

.video-filler {
  padding-top: 48px;
  position: relative;
  overflow: hidden;

  @include tablet {
    padding-top: 160px;
  }

  .section-descr {
    @include block-subtitle;
    margin-bottom: 112px;

    @include tablet {
      max-width: 60vw;
      margin-bottom: 56px;
    }
  }

  .section-decor {
    position: absolute;
    z-index: 1;
    top: 180px;
    right: 16px;
    width: 65vw;
    aspect-ratio: 1/1.12;

    @include tablet {
      width: 32vw;
      top: 144px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .video-wrap {
    width: 100%;
    aspect-ratio: 1/0.56;
    background-color: $bc;
    position: relative;
    z-index: 2;
    border-radius: 8px;
    overflow: hidden;

    .video {
      width: 100%;
      height: 100%;
    }

    .video-img {
      width: 100%;
      height: 100%;

    }
  }

  .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: $bc;
    color: $wc;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, width 0.5s ease-in-out, opacity 0.4s ease-in-out;
    cursor: pointer;

    &.is-hidden {
      width: 0px;
      opacity: 0;
    }

    svg path {
      transition: fill 0.3s ease-in-out;
    }

    &:hover {
      background-color: $wc;
      color: $bc;

      svg path {
        fill: $bc
      }
    }
  }
}

//PLANNINGS

.plannings {
  padding-top: 72px;
  padding-bottom: 72px;

  @include tablet {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.plannings-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 64px;
  }

  .plannings-title__svg-wrap {
    position: relative;

    &>svg {
      width: 43px;
      height: 41px;
      position: absolute;
      z-index: -1;
      top: -10px;
      right: -20px;
      opacity: 1;
      @include tablet {
        width: 90.39px;
        height: 87.33px;
        top: -19px;
        right: -45px;
      }
    }
  }

  .plannings-title {
    @include title-text;
    position: relative;
    z-index: 2;


  }




}



.swiper-btns-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid $border-color;
  height: 52px;
  margin-bottom: 32px;

  @include tablet {
    width: fit-content
  }

  &.pc-v {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &.mob-v {
    margin-bottom: 32px;

    @include tablet {
      display: none;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include tablet {
    width: 52px;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }

  svg {
    width: 24px;
    height: 24px;
  }

}

.swiper-button-prev {
  border-right: 1px solid $border-color;

  svg {
    transform: rotate(180deg)
  }
}

.swiper-plannings {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 116px;
  }
}

.planning-card {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(41, 41, 37, 0.10);
  // overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: $bg-color;
  transition: all 0.3s ease-in-out;

  .planning-img {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 37px 0;
    // background-color: $bc;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;

    img {
      width: 100%;
    }
  }

  &__title {
    // background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    h3 {
      @include general-text-bold;

      & {
        font-size: 28px
      }

    }

    p {
      @include general-text;
    }
  }

  &__descr {
    // background-color: $bg-color;
    padding: 0 16px;
    padding-bottom: 16px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    p {
      @include general-text;
    }
  }

  .general-btn {
    border-radius: 0;
    transform: translateY(-101%);
    transition: all 0.3s ease-in-out;
    width: calc(100% + 2px);
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: -1px;
    border: 1px solid $border-color;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  @include tablet {


    &:hover,
    &:focus {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      // background-color: $border-color;

      .general-btn {
        transform: translateY(0);
        opacity: 1;
      }

      .planning-card__descr {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      // .planning-card__descr,
      // .planning-card__title {
      //   color: $wc;
      //   // background-color: $bc;

      // }
    }


  }
}

.plannings-descr {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  p {
    @include block-subtitle;

    margin-bottom: 16px;

    @include tablet {
      font-size: 2.1vw;
      width: 45%;
    }
  }

  .general-btn {
    width: 100%;

    @include tablet {
      width: 40%
    }
  }
}

//Slide-photos sction

.slide-photos {
  @include tablet {
    height: 200vh;
  }

  // &__wrap {
  //   height: 200vh;
  // }
  &__bg {
    // min-height: 90vh;
    height: fit-content;
    background-image: url("../images/slide-bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    border-radius: 8px;
    overflow: hidden;
    padding: 32px 0;

    @include tablet {
      min-height: 90vh;
      padding: 64px 0 96px 0;
      border-radius: 12px;
    }
  }

  &__title {
    @include subtitle-text;
    margin-bottom: 32px;
    width: 100%;
    text-align: center;

    @include tablet {
      margin-bottom: 64px;
    }
  }

  &__content {
    overflow: hidden;
  }
}

.swiper-slide-photos {
  .swiper-slide {
    border-radius: 8px;
    aspect-ratio: 1/1.25;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.view {
  &-container {
    background-color: $bc;
    border-radius: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 90vh;

    @include tablet {

      margin-top: 100px;
      padding-top: 64px;
      padding-bottom: 96px;
      border-radius: 12px;
    }
  }



  &__title {
    @include subtitle-text;
    color: $wc;
    margin-bottom: 32px;
    

    @include tablet {
      font-size: 4.76vw;
      margin-bottom: 64px;
    }
  }

  &__iframe {
    width: 100%;
    border-radius: 8px;
    height: 70vh;

    @include tablet {
      height: 60vh;
    }
  }
}

.advantages {
  min-height: 100vh;
  padding-top: 72px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 160px;
    padding-bottom: 64px;
  }

  &__title-wrap {
    position: relative;
    
    width: fit-content;

    svg {
      width: 38px;
      height: 37px;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(47%, 2%);
      z-index: 1;

      @include tablet {
        width: 4.23vw;
        height: 4.23vw;

      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;

    @include title-text;
    color: $wc;
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 45px;
    }
  }

  .general-btn {
    width: 100%;
    background-color: $second-accent-color;
    color: $bc;

    &:hover {
      background-color: $second-accent-color--hover
    }
  }
}
.ctrls-line {
  width: 100%;
  background-color: rgba(249, 242, 235, 0.10);
  height: 1px;
}
.swiper-advantages-ctrls {
  position: relative;
  
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 64px;
  }

  .swiper-slide {
    width: fit-content;
    @include tiny-text;
    position: relative;
    color: $wc;
    padding-bottom: 20px;
    cursor: pointer;

    &.active-slide {
      font-weight: 700;


      &::after {
        content: "";
        background-color: $wc;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;

      }
    }

    @include tablet {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        background-color: #5A64B3;
        height: 2px;
        transition: width 0.25s ease-in-out;
      }

      &:hover::before {
        width: 100%;
      }

    }
  }



}

.advantages-content {
  margin-bottom: 16px;
  
  min-height: 45vh;

  @include tablet {
    overflow: hidden;
    margin-bottom: 48px;
  }
}

.advantage-panel {
  flex-direction: column;

  .text-part {
    p {
      @include general-text;
      color: $wc;
      margin-bottom: 16px;

      @include tablet {
        margin-bottom: 32px
      }
    }

    h4 {
      @include general-text;
      color: $wc;
      margin-bottom: 16px;

      @include tablet {
        margin-bottom: 20px
      }
    }

    ul {
      margin-bottom: 32px;

      @include tablet {
        margin-bottom: 40px;
      }
    }

    li {
      @include general-text-bold;
      border-bottom: 1px solid rgba(249, 242, 235, 0.10);
      color: $wc;
      margin-bottom: 16px;

      span {
        @include tiny-text;
        display: block;
        padding: 8px 0;
      }
    }
  }

  .media-part {
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1/0.64;
    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
  }
  .media-part.map-wrap {
    overflow: visible;
    @include tablet {
      overflow: hidden;
    }
  }
  @include tablet {
    flex-direction: row;
    gap: 40px;

    .text-part {
      width: 37%;
    }

    .media-part {
      width: 60%;

      img {
        height: auto;
      }

    }

    &[data-id="infrastructure"] {
      img {
        width: auto;
      }
    }
  }


}

.advantage-panel .map-wrap {
  position: relative;
  aspect-ratio: 1/ 1.2;
  border-radius: 4px;
  overflow: hidden;
  display: block;

  @include tablet {
    aspect-ratio: 1/ 0.637;
  }

  .swiper-map {
    margin-bottom: 20px;
    position: relative;

    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 60px);
      padding: 16px;
      overflow: hidden;
      border-radius: 8px
    }

    .swiper-slide {
      @include tiny-text;
      cursor: pointer;
      display: flex;
      width: fit-content;
      padding: 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background-color: $wc;
      border-radius: 4px;
      transition: background-color 0.3s ease-in-out;

      svg {
        display: none;
      }

      &.active {
        svg {
          display: block;
          width: 16px;
          height: 16px;
        }
      }

      &:hover,
      &:focus {
        background-color: #dbd7d4;
      }
    }
  }

  .map {
    width: 100%;
    height: 80%;

    border-radius: 4px;

    @include tablet {
      height: 100%;
    }
  }
}
// .map {
//   .gm-style .gm-style-iw-c {
//     background-color: $bg-color;
//   }
// }
.advantage-panel[data-id="safety"] .media-part {
  aspect-ratio: 0;
}

.swiper-safety {
  width: 100%;

  @include tablet {
    width: 50%;
    margin-left: auto;
  }

  .swiper-btns-wrap {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
    border-color: rgba(249, 242, 235, 0.10);

    .swiper-button-prev,
    .swiper-button-next {
      width: 100%;
      border-color: rgba(249, 242, 235, 0.10);

      &.swiper-button-disabled {
        opacity: 0.5
      }
    }
  }

  .swiper-slide {

    aspect-ratio: 1/ 1.29;
    &>img{
      object-fit: cover;
      border-radius: 8px;
      height: 100%;
    }
  }
}

.params {
  padding-top: 72px;
  // padding-bottom: 32px;

  @include tablet {
    padding-top: 160px;
    // padding-bottom: 64px;
  }

  &-list-wrap {
    @include tablet {
      display: flex;
      gap: 20px;

    }

  }

  &-list {
    &:first-child {
      margin-bottom: 32px;

      @include tablet {
        margin-bottom: 0
      }
    }

    li {
      @include tiny-text;
      border-bottom: 1px solid rgba(249, 242, 235, 0.10);
      color: $wc;
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        @include general-text-bold;
        display: block;
        padding: 8px 0;
      }
    }
  }
}

.filler {
  width: 100%;
  height: 480px;
  position: relative;
  overflow: hidden;

  img {
    transform: scale(1.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &>svg {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(40%);
    z-index: 2;
    width: 263.545px;
    height: 249.291px;

    @include tablet {
      width: 32vw;
      height: 30vw;

    }
  }

  @include tablet {
    aspect-ratio: 1/0.58;
    height: auto;

  }
}

.parking {
  padding-top: 72px;
  // padding-bottom: 36px;
  // height: 200vh;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // gap: 100px;
  overflow: visible;
  // height: 200vh;

  @include tablet {
    padding-top: 160px;
    padding-bottom: 80px;
  }

  .parking__sticky-wrapper {
    position: relative;
    overflow: visible;
  }

  &-card {
    background-image: url("../images/parking/parking-bg1.svg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    position: sticky;
    top: 78px;
    left: 0;
    z-index: 3;
    
    overflow: hidden;
    border-radius: 8px;
    padding: 32px 16px;


    &.safe {
      background-image: url("../images/parking/parking-bg2.svg");
      
      
      .parking-card__img-wrap {
        
          margin-top: 64px;
        
  
        @include tablet {
         
            margin-top: 0;
          
        }
      }
    }

    &:first-child {
      margin-bottom: 48px;
    }

    @include tablet {
      display: flex;
      justify-content: space-between;
      gap: 11vw;
      align-items: stretch;
      border-radius: 12px;
      padding: 64px 20px;
      height: calc(100vh - 88px);

      &:first-child {
        margin-bottom: 100px;
      }
    }

    &__text-wrap {
      width: 100%;

      @include tablet {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
    }

    &__title {
      @include title-text;
      color: $wc;
      margin-bottom: 12px;

      @include tablet {
        margin-bottom: 24px;
      }
    }

    &__text {
      @include general-text-bold;
      color: $wc;
      padding-bottom: 8px;
      border-bottom: 1px solid #f9f2eb10;

      &.mb-32 {
        margin-bottom: 32px;

        @include tablet {
          margin-top: auto;
        }

      }


    }

    &__descr {
      @include block-subtitle;
      color: $wc;
      margin-bottom: 32px;


      @include tablet {
        margin-bottom: 24px;
      }
    }

    &__gen-text {
      @include general-text;
      color: $wc;
      margin-top: auto;
    }

    &__img-wrap {
      width: 100%;
      aspect-ratio: 1 / 0.46;
      border-radius: 4px;
      overflow: hidden;
      margin-top: 32px;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include tablet {
        margin-bottom: 24px;
        width: 35%;
        aspect-ratio: 1 / 1.32;
        border-radius: 8px;
        margin-top: 0;
        
      }
    }
  }

  .general-btn {
    width: 100%;
    background-color: $second-accent-color;
    margin-top: 16px;
    color: $bc;

    @include tablet {
      margin-top: 20px;
    }

    &:hover {
      background-color: $second-accent-color--hover;
    }
  }
}

//gallery 
.gallery-title {
  @include title-text;
  margin-bottom: 34px;

  @include tablet {
    margin-bottom: 45px;
  }
}

.gallery {
  padding-top: 72px;
  // padding-bottom: 36px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  ;
  .swiper-btns-wrap{
    &.hidden {
      opacity: 0;
    }
  }
  .swiper-btns-wrap,
  .swiper-button-prev,
  .swiper-button-next {
    @include tablet {
      width: 100%;
    }
  }
}

.swiper-gallery-ctrls {
  position: relative;
  
  margin-bottom: 32px;
  .ctrls-line {
    
    background-color: rgba(41, 41, 37, 0.10);
    
  }

  @include tablet {
    margin-bottom: 64px;
  }

  .swiper-scrollbar-drag {
    background-color: #29292557;
  }

  .swiper-slide {
    width: fit-content;
    @include tiny-text;
    position: relative;
    color: $bc;
    padding-bottom: 20px;
    cursor: pointer;

    &.active-slide {
      font-weight: 700;


      &::after {
        content: "";
        background-color: $bc;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;

      }
    }

    @include tablet {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        background-color: #E4DED7;
        height: 2px;
        transition: width 0.25s ease-in-out;
      }

      &:hover::before {
        width: 100%;
      }

    }
  }



}

.swiper-gallery {
  margin-bottom: 16px;

  .swiper-slide {
    aspect-ratio: 1 / 1.21;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include tablet {
    margin-bottom: 20px;
  }
}
//progress
.progress-title {
  @include title-text;
  margin-bottom: 34px;

  @include tablet {
    margin-bottom: 45px;
  }
}

.progress {
  padding-top: 36px;
  padding-bottom: 36px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  ;
  .swiper-btns-wrap{
    &.hidden {
      opacity: 0;
    }
  }
  .swiper-btns-wrap,
  .swiper-button-prev,
  .swiper-button-next {
    @include tablet {
      width: 100%;
    }
  }
}

.swiper-progress-queue-ctrls, .swiper-progress-month-ctrls {
  position: relative;
  
  margin-bottom: 32px;
  .ctrls-line {
    
    background-color: rgba(41, 41, 37, 0.10);
    
  }

  @include tablet {
    margin-bottom: 64px;
  }

  .swiper-scrollbar-drag {
    background-color: #29292557;
  }

  .swiper-slide {
    width: fit-content;
    @include tiny-text;
    position: relative;
    color: $bc;
    padding-bottom: 20px;
    cursor: pointer;

    &.active-slide {
      font-weight: 700;


      &::after {
        content: "";
        background-color: $bc;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;

      }
    }

    @include tablet {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        background-color: #E4DED7;
        height: 2px;
        transition: width 0.25s ease-in-out;
      }

      &:hover::before {
        width: 100%;
      }

    }
  }



}

.swiper-progress-gallery {
  margin-bottom: 16px;

  .swiper-slide {
    aspect-ratio: 1 / 1.21;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include tablet {
    margin-bottom: 20px;
  }
}

.queue-dates {
  padding: 16px;
  border-radius: 8px;
background: #A4BAD2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
  .date-wrap {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(41, 41, 37, 0.10);
  }
  .date-title{
    @include tiny-text;
    margin-bottom: 8px;
  }
  .date-value {
    @include general-text-bold;
  }
  @include tablet {
    padding: 20px;
    flex-direction: row;
    gap: 20px;
    .date-wrap {
      width: calc(50% - 10px);
    }
  }
}
.swiper-progress-percents {
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 20px;
  }
  .swiper-slide {
    border-radius: 8px;
border: 1px solid rgba(41, 41, 37, 0.10);
background: var(--White, #F9F2EB);
padding: 16px;
display: flex;
  flex-direction: column;
  height: auto ;    
    .percents-title {
      @include tiny-text;
      margin-bottom: 4px;
    }
    .percent-value {
      margin-top: auto;
      color: $bc;
font-size: 48px;
font-weight: 700;
margin-bottom: 16px;
    }
    .percent-line{
      height: 4px;
      background: rgba(41, 41, 37, 0.10);
      width: 100%;

    }
    .percent-fill{
      height: 100%;
      background-color: $accent-color;
    }
  }
}
//terms START
.swiper-riel {
  position: relative;
  margin-bottom: 20px;

  @include tablet {
    display: none;
  }

  .swiper-slide {
    aspect-ratio: 1/1;
    position: relative;

    &:nth-child(2),
    &:nth-child(6) {
      p {
        color: $wc
      }
    }

    p {
      @include tiny-text;
      text-align: center;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.2);
      max-width: calc(100% - 32px);
      opacity: 0;
      color: $bc;
    }

    svg {
      width: 100%;
      height: 100%;
      transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }
  }



}



.riel-container-pc {
  display: none;


  @include tablet {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    aspect-ratio: 1/0.7;

    .riel-item {
      width: 11vw;
      height: 11vw;

      p {
        @include tiny-text;
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.2);
        max-width: 10vw;
        opacity: 0;
        color: $bc;

      }

      svg {
        width: 100%;
        height: 100%;
      }

      &:nth-child(1) {
        transform: translate(0%, 0%);
        width: 50%;
      }

      &:nth-child(2) {
        transform: translate(-10%, 10%);
        width: 50%;

        p {
          color: $wc;
        }
      }

      &:nth-child(3) {
        transform: translate(50%, -20%);
        width: 50%;
      }

      &:nth-child(4) {
        transform: translate(20%, 0%);
        width: 50%;
      }

      &:nth-child(5) {
        transform: translate(-20%, -80%);
        width: 30%;
      }

      &:nth-child(6) {
        transform: translate(0%, 0%);
        width: 25%;

        p {
          color: $wc;
        }
      }

      &:nth-child(7) {
        transform: translate(30%, 0%);
        width: 30%;
      }
    }


  }

}

.swiper-scrollbar {
  position: relative !important;
  background-color: transparent;
 left: 0 !important; 
  margin-top: 12px;
  // margin-bottom: 8px;
  @include tablet {
    margin-top: 16px;
  }
}

.swiper-scrollbar-drag {
  background-color: rgba(249, 242, 235, 0.314);
  height: 4px;

}
// .gallery .swiper-scrollbar {
//   padding-top: 8px;
// }
.terms {
  padding-top: 72px;
  padding-bottom: 72px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  .general-btn {
    width: 100%;
    background-color: $second-accent-color;
    color: $bc;

    &:hover {
      background-color: $second-accent-color--hover
    }
  }

  &__title__wrap {
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 64px;
      display: flex;
      align-items: baseline;
      gap: 40px;

    }
  }

  &__title {
    @include title-text;
    
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    margin-bottom: 12px;
    line-height: 1;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &.active {
      pointer-events: none;
      opacity: 1;
      order: -1
    }

    @include tablet {
      margin-bottom: 0;

      &:not(.active) {
        font-size: 3.17vw;
      }
    }
  }


  &__content {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include tablet {
      margin-bottom: 20px;
      flex-direction: row;
      align-items: stretch;
      gap: 20px;
    }
  }

  &__block {
    margin-bottom: 16px;

    @include tablet {
      width: 50%;
      margin-bottom: 0px;
    }
  }

  &__item {
    border-radius: 8px;
    background: $border-color;
    padding: 16px;
    margin-bottom: 16px;

    h3 {
      @include block-subtitle;
      margin-bottom: 12px;
      font-weight: 700;

      &>svg {

        margin-bottom: 8px;
        display: block;
      }
    }

    p {
      @include general-text;
    }

    ul,
    li {
      list-style-type: disc;

    }

    ul {
      padding-left: 20px;
    }

    li {
      @include general-text;
      margin-bottom: 4px;
    }


    @include tablet {
      margin-bottom: 20px;

      h3 {
        margin-bottom: 16px;
        font-size: 2.11vw;
        display: flex;
        align-items: center;


        &>svg {
          margin-right: 10px;
          display: inline;
          margin-bottom: 0;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .terms__block.second {
    .terms__item {
      @include tablet {
        height: 100%;
        display: flex;
        flex-direction: column;


      }

      span {
        display: block;
        margin-top: 8px;
      }

      ul {
        margin-top: auto;
      }
    }

    ul,
    li {
      list-style-type: none;
      padding: 0
    }
  }

}

//documents 
.documents {
  padding-top: 36px;
  padding-bottom: 72px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  &__title {
    @include title-text;
    padding-bottom: 32px;

    @include tablet {
      padding-bottom: 64px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    column-gap: 20px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

  }

  &__item {
    border-bottom: 1px solid rgba(41, 41, 37, 0.10);
    padding-bottom: 16px;
    width: 100%;

    @include tablet {
      padding-bottom: 20px;
      width: calc((100% - 20px) / 2);
    }

    .documents__date {
      @include general-text;
      margin-bottom: 12px;

      @include tablet {
        margin-bottom: 12px;
        font-size: 1.19vw;
      }
    }

    .documents__title-wrap {
      display: flex;
      gap: 12px;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        justify-content: flex-start;
      }
    }

    h3 {
      @include block-subtitle;


      @include tablet {
        font-size: 2.11vw;

      }
    }


    &.hidden {
      display: none;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.4s ease, transform 0.4s ease;
    }

    /* Показані документи */
    &.visible {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.more-btn {
  margin-top: 32px;
  border: 1px solid rgba(41, 41, 37, 0.10);
  padding: 20px;
  @include general-text;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & span {
    display: none;
  }

  & span.show-more {
    display: inline;
  }

  &.active span.show-less {
    display: inline;
  }

  &.active span.show-more {
    display: none;
  }



  @include tablet {
    display: none;
  }
}

.about {
  background-color: #1C3543;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;

  @include tablet {
    padding-bottom: 20px;
    padding-top: 64px;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
  }

  .icon--riel {
    width: 62.774px;
    height: 56px;
    margin-bottom: 20px;

    @include tablet {
      width: 30vw;
      height: 27vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px
    }
  }

  &__title {
    @include title-text;
    color: $wc;
    margin-bottom: 12px;
    white-space: nowrap;
    @include tablet {}
  }

  &__subtitle {
    @include block-subtitle;
    color: $wc;
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: auto;
      max-width: 50%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;

    li {
      @include general-text-bold;
      padding-bottom: 8px;
      border-bottom: 1px solid #f9f2eb10;
      color: $wc;


    }

    @include tablet {
      width: 50%;
    }


  }

  .general-btn {
    background-color: #66D432;
    width: 100%;

    &:hover {
      background-color: rgb(96 195 49);
    }

    color: $bc;


    svg {
      margin-right: 8px;
    }
  }
}

.news{
  .gallery-title {
    margin-bottom: 32px;
    @include tablet {
      margin-bottom: 64px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
@include tablet {
      flex-direction: row;
      column-gap: 20px;
      flex-wrap: wrap;

    }
  }
  &__link{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(41, 41, 37, 0.10);
    @include tablet {
      gap: 16px;
      padding-bottom: 20px;
      width: calc((100% - 20px) / 2 );
      &:hover, &:focus {
        .news__title {
          text-decoration: underline;
        }
      }
    }
  }

  &__data{
    @include tiny-text;
    line-height: 177%;
  } 

  &__title {
    @include block-subtitle;
    @include tablet {
      font-size: 2.11vw;
      transition: text-decoration 0.3s ease-in-out;
    } 
  }
}