// ======== Hero section ========

.title_96_48 {
  position: relative;
  z-index: 3;
  margin-bottom: 40px;
  color: #6261b6;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (max-width: 480px) {
    margin-bottom: 12px;
  }
}

.text_48_32 {
  position: relative;
  z-index: 3;
  padding-bottom: 100px;
  color: #292925;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  @media (max-width: 1360px) {
    // text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 1024px) {
    text-shadow: none;
  }

  @media (max-width: 768px) {
    padding-bottom: 224px;
  }

  @media (max-width: 480px) {
    font-size: 32px;
    line-height: 120%;
  }
}

.top_section {
  position: relative;
  height: 100vh;
  min-height: 670px;
  padding-top: 148px;
  background-color: #b0d3c5;
  overflow: hidden;

  @media (max-width: 1024px) {
    height: auto;
  }

  @media (max-width: 768px) {
    gap: 40px;
    padding-top: 78px;
  }

  @media (max-width: 480px) {
    gap: 20px;
    padding-top: 84px;
  }

  .bg {
    content: '';
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-radius: 60px 60px 0 0;
    background-color: #a4bad2;
  }

  .container {
    display: flex;
    align-items: start;
    gap: 56px;
    height: 100%;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__left {
    width: calc((545 * 100vw) / 1515);
    height: 100%;
    overflow: hidden;

    @media (max-width: 1024px) {
      width: 100%;
      height: 354px;
    }

    img {
      position: relative;
      z-index: 3;
      width: 100%;
      height: 100%;
      object-position: 50% 15%;
      object-fit: cover;
      border-radius: 60px;

      @media (max-width: 1024px) {
        height: 354px;
      }

      @media (max-width: 480px) {
        border-radius: 20px;
      }
    }
  }

  .figure {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 16px;
    width: 545px;

    @media (max-width: 1500px) {
      width: 30vw;
      min-width: 320px;
    }

    @media (max-width: 768px) {
      min-width: 220px;
    }
  }
}

// ======== Concept section ========
// ======== Advantages section ========
// ======== Summary section ========
// ======== Gallery section ========
// ======== About section ========
