// ======== Hero section ========

.title_96_48 {
  position: relative;
  z-index: 3;
  margin-bottom: 40px;
  color: #6261b6;
  font-size: vw(96);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  @media screen and (max-width: 1023px) {
    font-size: 96px;
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    margin-bottom: 12px;
    font-size: 48px;
  }
}

.text_48_32 {
  position: relative;
  z-index: 3;
  padding-bottom: 100px;
  color: #292925;
  font-size: vw(48);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  @media (max-width: 1023px) {
    font-size: 48px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    padding-bottom: 224px;
  }
}

.top_section {
  position: relative;
  padding-top: 148px;
  background-color: #b0d3c5;
  overflow: hidden;

  @media (max-width: 1023px) {
    height: auto;
  }

  @media (max-width: 767px) {
    gap: 40px;
    padding-top: 78px;
  }

  @media (max-width: 480px) {
    gap: 20px;
    padding-top: 84px;
  }

  .bg {
    content: '';
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-radius: 60px 60px 0 0;
    background-color: #a4bad2;
  }

  .container {
    display: flex;
    align-items: start;
    gap: 56px;
    height: 100%;

    @media (max-width: 1023px) {
      flex-direction: column;
      gap: 40px;
    }

    @media screen and (max-width: 767px) {
      gap: 20px;
    }
  }

  &__left {
    width: vw(545);
    height: 100%;
    overflow: hidden;

    @media (max-width: 1023px) {
      width: 100%;
    }

    img {
      position: relative;
      z-index: 3;
      width: 100%;
      height: 100%;
      max-height: 625px;
      object-position: 50% 15%;
      object-fit: cover;
      border-radius: 60px;

      @media (max-width: 1023px) {
        height: 354px;
        object-position: 40% 30%;
      }

      @media (max-width: 480px) {
        border-radius: 20px;
        height: 180px;
      }
    }
  }

  .figure {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 16px;
    width: 36vw;
    max-width: 544px;
    max-height: 552px;

    @media (max-width: 1280px) {
      width: 30vw;
    }

    @media (max-width: 1023px) {
      width: 40vw;
      min-width: 320px;
    }

    @media (max-width: 767px) {
      min-width: 220px;
    }
  }
}

// ======== Concept section ========

.concept_section {
  background: #a4bad2;
  padding-top: 150px;

  @media screen and (max-width: 1023px) {
    padding-top: 190px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
}

.concept-block {
  border-radius: 60px;
  background: #f9f2eb;
  max-height: 680px;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    max-height: none;
  }

  @media screen and (max-width: 767px) {
    border-radius: 20px;
  }
}

.concept-img {
  width: 62%;
  height: auto;
  object-fit: cover;

  max-height: 680px;
  border-radius: 60px;
  aspect-ratio: 910/680;

  @media screen and (max-width: 1023px) {
    width: 100%;
    aspect-ratio: 736/545;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343/254;
    border-radius: 20px;
  }
}

.concept-content-block {
  padding: vw(60);
  width: 40%;

  @media screen and (max-width: 1023px) {
    width: 100%;
    padding: 60px;
  }

  @media screen and (max-width: 767px) {
    padding: 28px 20px 40px;
  }
}

.concept-title {
  @include subtitle-text;

  font-size: vw(36);
  margin-bottom: 28px;
  color: #292925;
  max-width: 441px;

  @media screen and (max-width: 1023px) {
    max-width: none;
    font-size: 36px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin: 0 auto 12px;
  }

  @media screen and (min-width: 1512px) {
    max-width: none;
  }
}

.concept-text {
  @include general-text;

  font-size: vw(21);
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 48px;
  max-width: 434px;

  @media screen and (max-width: 1023px) {
    font-size: 21px;
    max-width: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    margin: auto;
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1512px) {
    max-width: none;
  }
}

.concept-link {
  @include general-text;

  font-size: 16px;
  line-height: 140%;
  color: #292925;
  border-radius: 100px;
  background: #c7a8d9;
  padding: 15px;
  display: block;
  text-align: center;
  height: 52px;
  max-width: 252px;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    background-color: #dbc6e0;
  }

  @media screen and (min-width: 1512px) {
    font-size: vw(16);
    padding: vw(15);
    height: vw(52);
  }
}

.concept-logo {
  position: relative;
  margin-top: vw(-108);

  aspect-ratio: 1512/317;

  @media screen and (max-width: 1023px) {
    aspect-ratio: 768/161;
    margin-top: vw_tab(-38);
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 375/79;
    margin-top: vw_mob(-20);
  }
}

// ======== Advantages section ========

.advantages-section {
  padding-top: 210px;
  background: #f9f2eb;
  overflow-y: hidden;

  @media screen and (max-width: 1023px) {
    padding-top: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 120px;
  }
}

.advantages-title {
  @include title-text;

  font-size: vw(96);
  margin-bottom: 60px;
  color: #292925;
  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: 96px;
  }

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.advantages-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}

.advantages-item {
  overflow: hidden;
  border-radius: 60px;
  width: 100%;

  &:nth-child(1) {
    background-color: #a4bad2;
  }

  &:nth-child(2) {
    background-color: #b0d3c5;
  }

  &:nth-child(3) {
    background-color: #c7a8d9;
    max-width: 100%;
    padding: 60px;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    gap: 60px;

    .advantages-item__image {
      max-width: vw(670);
      max-height: vw(627);
      aspect-ratio: 670 / 627;
      object-fit: contain;
    }

    .advantages-item__content-block {
      padding: 0;
    }

    .advantages-item__text {
      max-width: 550px;
    }

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      align-items: start;

      .advantages-item__image {
        aspect-ratio: 616/ 566;
        margin: 0 auto;
        max-height: 566px;
      }

      .advantages-item__text {
        max-width: none;
      }
    }

    @media screen and (max-width: 767px) {
      padding: 20px 20px 40px;
      gap: 20px;

      .advantages-item__image {
        aspect-ratio: 303/ 281;
        max-height: 281px;
      }
    }
  }

  &:nth-child(4) {
    background-color: #d03d35;

    .advantages-item__title,
    .advantages-item__text {
      color: #f9f2eb;
    }
  }

  &:nth-child(5) {
    background-color: #945b38;

    .advantages-item__title,
    .advantages-item__text {
      color: #f9f2eb;
    }
  }

  @media screen and (max-width: 767px) {
    border-radius: 20px;
  }
}

.advantages-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 730 / 439;
  object-position: bottom center;
  border-radius: 60px;

  @media screen and (max-width: 1023px) {
    aspect-ratio: 736 / 439;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343 / 206;
    border-radius: 20px;
  }
}

.advantages-item__content-block {
  padding: vw(60);

  @media screen and (max-width: 1023px) {
    padding: 60px;
  }

  @media screen and (max-width: 767px) {
    padding: 28px 20px 40px;
  }

  @media screen and (min-width: 1512px) {
    padding: 60px;
  }
}

.advantages-item__title {
  @include subtitle-text;

  font-size: vw(36);
  margin-bottom: 20px;
  color: #292925;

  @media screen and (max-width: 1023px) {
    font-size: 36px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

.advantages-item__text {
  @include general-text;

  font-size: vw(21);
  line-height: 140%;
  color: #292925;
  max-width: 610px;

  @media screen and (max-width: 1023px) {
    font-size: 21px;
    max-width: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1512px) {
    max-width: none;
  }
}

// ======== Summary section ========

.summary-section {
  padding-top: 210px;
  background-color: #f9f2eb;
  position: relative;

  @media screen and (max-width: 1023px) {
    padding-top: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 120px;
  }
}

.summary-content-block {
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  width: 100%;
  max-height: vw(1340);

  aspect-ratio: 1480/1340;

  @media screen and (max-width: 1023px) {
    aspect-ratio: 736 /1340;
    max-height: 1340px;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343 /820;
    border-radius: 20px;
    max-height: 820px;
  }
}

.summary-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  @media screen and (max-width: 1023px) {
    object-position: 40%;
  }
}

.summary-text-block {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;

  @media screen and (min-width: 1200px) {
    top: 200px;
  }

  @media screen and (max-width: 767px) {
    top: 60px;
  }
}

.summary-title {
  @include title-text;

  font-size: vw(96);
  margin-bottom: 40px;
  color: #f9f2eb;
  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: 96px;
  }

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.summary-text {
  @include subtitle-text;

  font-size: vw(36);
  max-width: 732px;
  color: #292925;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (max-width: 1023px) {
    font-size: 36px;
    min-width: 548px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 40px;
    min-width: 303px;
  }
}

.summary-button {
  @include general-text;

  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #f9f2eb;
  display: block;
  margin: auto;

  background-color: #824d37;
  padding: 15px;
  border-radius: 100px;
  width: 100%;
  max-width: 358px;

  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    color: #292925;
    background-color: #d89e79;
  }

  @media screen and (min-width: 1512px) {
    font-size: vw(16);
    padding: vw(15);
  }

  @media screen and (max-width: 375px) {
    max-width: 268px;
  }
}

.summary-decor-1,
.summary-decor-2 {
  position: absolute;
  top: 333px;
  object-fit: contain;
  width: vw(792);
  height: vw(680);

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.summary-decor-1 {
  left: vw(-300);
}

.summary-decor-2 {
  right: vw(-250);
}

// ======== Gallery section ========

.gallery-section {
  padding-top: 210px;
  padding-bottom: 210px;
  background-color: #f9f2eb;

  @media screen and (max-width: 1023px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.gallery-title {
  @include title-text;

  font-size: vw(96);
  text-align: center;
  margin-bottom: 60px;
  color: #292925;

  @media screen and (max-width: 1023px) {
    font-size: 96px;
  }

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.gallery-images-block {
  position: relative;
  border-radius: 60px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    border-radius: 20px;
  }
}

.gallery-image {
  width: 100%;
  max-height: vw(800);
  height: auto;
  object-fit: cover;
  aspect-ratio: 1480 / 800;

  @media screen and (max-width: 1023px) {
    aspect-ratio: 736 / 570;
    max-height: 570px;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343 / 470;
    max-height: 470px;
  }

  @media screen and (min-width: 1512px) {
    max-height: 800px;
  }
}

.gallery-next-btn,
.gallery-prev-btn {
  width: 72px;
  height: 72px;
  background-color: #6975ff;
  padding: 20px;
  border-radius: 100px;
  z-index: 1;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #838fea;
  }

  @media screen and (max-width: 767px) {
    width: 40px;
    height: 40px;
    padding: 13px;
  }

  svg {
    fill: #f9f2eb;
  }
}

.gallery-next-btn {
  right: 20px;
}

.gallery-prev-btn {
  left: 20px;
}

.gallery-next-icon,
.gallery-prev-icon {
  width: 32px;
  height: 32px;

  @media screen and (max-width: 767px) {
    width: 14px;
    height: 14px;
  }
}

.gallery-prev-icon {
  transform: rotate(180deg);
}

.gallery-images-block .swiper-button-next,
.gallery-images-block .swiper-button-prev {
  background-color: transparent;
  border-color: transparent;
}

.gallery-images-block .swiper-button-next:after,
.gallery-images-block .swiper-button-prev:after {
  display: none;
}

.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: unset;
  height: unset;
}

// ======== About section ========

.about-section {
  padding-top: 285px;
  background-color: #f9f2eb;
  position: relative;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    padding-top: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 160px;
  }
}

.about-text-block {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
}

.about-title {
  @include title-text;

  font-size: vw(96);
  text-align: center;
  margin-bottom: 40px;
  color: #292925;

  @media screen and (max-width: 1023px) {
    font-size: 96px;
  }

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.about-link {
  @include general-text;

  font-size: 16px;
  line-height: 140%;
  color: #292925;
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 358px;
  height: 52px;
  padding: 18px;
  background-color: #c7a8d9;
  border-radius: 100px;

  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    background-color: #dbc6e0;
  }

  @media screen and (max-width: 767px) {
    max-width: 343px;
  }

  @media screen and (min-width: 1512px) {
    font-size: vw(16);
    height: vw(52);
    padding: vw(18);
  }
}

.about-image-block {
  width: 100%;
  top: 100px;
  position: relative;
  aspect-ratio: 1512 / 897;

  @media screen and (max-width: 1023px) {
    aspect-ratio: 768 / 700;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 345 / 810;
    max-height: 400px;
  }
}

.about-build-img {
  position: absolute;
  left: 0;
  bottom: 97px;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  z-index: 2;
  object-position: top;
}

.about-decor-img {
  position: absolute;
  object-fit: contain;
  z-index: 1;
  right: vw(-12);
  top: vw(-110);
  max-width: vw(597);
  height: 100%;
  max-height: vw(676);

  @media screen and (max-width: 767px) {
    top: vw_mob(-50);
  }

  @media screen and (max-width: 480px) {
    top: vw_mob(-100);
  }
}
