footer.footer.container(id="contacts")
    h2.contacts__title.chars-anim Контакти
    .contacts__content
        ul.contacts__list
            li
                label Наша адреса
                a(href="").contacts__link  Дніпровська набережна, 17К 
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.83853 23.3337L18.5053 10.6671H10.667V6.66706H25.3337V21.3337H21.3337V13.4955L8.66696 26.1621L5.83853 23.3337Z" fill="#F9F2EB"/>
                    </svg>
            li
                label Графік роботи
                p.contacts__link з 9 до 19 кожен день
            li
                label Зателефонувати нам
                a(href="").contacts__link  +380 73 298 41 19
        .map-wrap 
            .map-simple
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.4655512733646!2d30.48005346424529!3d50.45432172261185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce69468a04a1%3A0x682543b68f7159b0!2z0KDQhtCV0Jsg4oCTINCy0ZbQtNC00ZbQuyDRgdC10YDQstGW0YHRgyDRgyDQmtC40ZTQstGW!5e0!3m2!1suk!2sua!4v1747174524823!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    button.general-btn(data-call-us-btn) 
        span Замовити дзвінок
    +svg("sisters-footer")
