header(class="header "+headerCustomClass)
  .header-bg 
    a(href="/").header-logo
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="24" viewBox="0 0 100 24" fill="none">
        <path d="M10.6166 24C17.7375 24 21.106 21.4877 21.106 17.0387C21.106 12.2706 17.5456 11.1255 11.378 10.0774C6.92695 9.31402 6.32313 8.86973 6.32313 7.69234C6.32313 6.6119 7.0542 5.78591 10.3602 5.78591C12.6806 5.78591 14.3022 6.51698 14.5567 7.91651H20.8192C20.5648 3.0535 16.5601 0.795677 10.6792 0.795677C4.12992 0.795677 0.444285 3.0535 0.444285 7.59743C0.444285 12.7795 4.00471 13.7004 10.3945 14.7809C14.1447 15.417 15.2272 15.7018 15.2272 17.1013C15.2272 18.309 14.2417 19.0077 10.8408 19.0077C7.66208 19.0077 6.04039 18.0545 5.88085 16.1158H0C0.349377 21.3928 3.56043 24 10.6166 24Z" fill="#6975FF"/>
        <path d="M27.3383 6.03837C24.9855 6.03837 23.8727 5.05284 23.8727 3.01919C23.8727 0.985526 24.9855 0 27.3383 0C29.691 0 30.8038 0.985526 30.8038 3.01919C30.8038 5.05284 29.691 6.03837 27.3383 6.03837ZM27.0212 7.62773H21.936V12.2686H25.242V23.5214H30.519V11.1235C30.519 8.8657 29.279 7.62773 27.0232 7.62773H27.0212Z" fill="#6975FF"/>
        <path d="M40.849 23.8406C46.54 23.8406 49.3047 21.9644 49.3047 18.6908C49.3047 15.1627 46.0614 14.4639 41.8345 13.7955C39.4817 13.4138 38.2741 13.2239 38.2741 12.5232C38.2741 11.887 38.4963 11.5053 40.6592 11.5053C42.089 11.5053 42.917 11.8224 43.2017 12.3959H49.0826C48.8281 9.08997 45.7443 7.31077 40.8813 7.31077C35.6992 7.31077 32.6477 8.99505 32.6477 12.4282C32.6477 16.0513 35.572 16.7197 40.435 17.4185C43.0099 17.7679 43.7086 17.9597 43.7086 18.7534C43.7086 19.3572 43.0402 19.644 41.1661 19.644C39.195 19.644 38.2418 19.1351 38.0196 18.0546H32.3286C32.5508 21.8372 34.9984 23.8406 40.847 23.8406H40.849Z" fill="#6975FF"/>
        <path d="M54.297 3.81498V7.62986H50.165V12.3979H54.297V20.0277C54.297 22.2855 55.537 23.5235 57.7928 23.5235H65.2953V18.8826H59.574V12.3979H65.2953V7.62986H59.574V2.5447L54.297 3.817V3.81498Z" fill="#6975FF"/>
        <path d="M71.8747 13.9227C72.0645 12.3656 73.2096 11.6346 75.625 11.6346C78.0403 11.6346 79.248 12.303 79.4722 13.9227H71.8747ZM84.6543 15.7665C84.6543 10.235 81.5078 7.31077 75.5624 7.31077C69.9683 7.31077 66.5654 10.4269 66.5654 15.5767C66.5654 20.7265 69.8714 23.8426 75.6896 23.8426C80.3305 23.8426 83.5092 21.8715 84.2403 18.7251H78.5816C78.0727 19.2663 77.1194 19.5511 75.625 19.5511C73.2399 19.5511 72.0969 18.8523 71.8747 17.1034H84.6543V15.7685V15.7665Z" fill="#6975FF"/>
        <path d="M86.5608 11.1254V23.5233H91.8378V12.3977H99.7523V7.62964H90.0566C87.7987 7.62964 86.5608 8.86962 86.5608 11.1254Z" fill="#6975FF"/>
      </svg>
    button.menu-burger(data-menu-button)
      span.over 
      span.middle
      span.under
    a(href="tel:+380732884610").header-phone
      span +380 (73) 288 46 10 
    button.call-us-btn(data-call-us-btn) 
      span.pc-text Замовити дзвінок
      .mob-icon
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5 23V1H19V23H5ZM9 18V20H15V18H9Z" fill="black"/>
        </svg>

  .overflow(data-call-us__overflow).hidden
    .modal-form(data-call-us-modal)
      .close-btn(data-call-us-modal-close) 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.99992 2.79285L4.35348 3.1464L11.9999 10.7928L19.6464 3.1464L19.9999 2.79285L20.707 3.49995L20.3535 3.85351L12.707 11.5L20.3535 19.1464L20.707 19.5L19.9999 20.2071L19.6464 19.8535L11.9999 12.2071L4.35348 19.8535L3.99992 20.2071L3.29282 19.5L3.64637 19.1464L11.2928 11.5L3.64637 3.85351L3.29282 3.49995L3.99992 2.79285Z" fill="#292925"/>
        </svg>
      .form-title Замовити дзвінок
      +form
  .overflow(data-call-us__overflow--big).hidden
    .modal-form(data-call-us-modal--big)
      .close-btn(data-call-us-modal-close--big) 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.99992 2.79285L4.35348 3.1464L11.9999 10.7928L19.6464 3.1464L19.9999 2.79285L20.707 3.49995L20.3535 3.85351L12.707 11.5L20.3535 19.1464L20.707 19.5L19.9999 20.2071L19.6464 19.8535L11.9999 12.2071L4.35348 19.8535L3.99992 20.2071L3.29282 19.5L3.64637 19.1464L11.2928 11.5L3.64637 3.85351L3.29282 3.49995L3.99992 2.79285Z" fill="#292925"/>
        </svg>
      .form-title Зараз все підберемо
      .form-wrapper(data-form-wrapper)
      
        form(data-form="form-big" autocomplete="off" contact-form-js).form
         
          .inputs-wrapper(data-lenis-prevent)
            .form-field(data-field-input data-field-price data-status="field--inactive").first-offset
              .input-title  Який у вас бюджет?
              .link-range-wrapper
                input(type="text", id="custom-range" data-range-change-from="budget-from" data-prefix="$ " data-step="1000" data-range-change-to="budget-to" name="budget" data-min="25000" data-max="150000" data-from="50000" data-to="80000")
                input(type="hidden", name="price_from", id="price-from")
                input(type="hidden", name="price_to", id="price-to")
            .form-field.form-field-input(data-field-input data-field-rooms data-status="field--inactive").first-offset
              .input-title  Яка кількість кімнат вам потрібна? 
                span(style="opacity: 0.7") (можна обрати декілька варіантів)
              .form-checkbox-group
                label.custom-checkbox
                  input(type="checkbox" name="rooms[]" value="Студія" hidden)
                  span.checkbox-circle
                  |  Студія
                label.custom-checkbox
                  input(type="checkbox" name="rooms[]" value="1 спальня" hidden)
                  span.checkbox-circle
                  |  1 спальня
                label.custom-checkbox
                  input(type="checkbox" name="rooms[]" value="2 спальні" hidden)
                  span.checkbox-circle
                  |  2 спальні
                label.custom-checkbox
                  input(type="checkbox" name="rooms[]" value="3 спальні" hidden)
                  span.checkbox-circle
                  |  3 спальні
            .form-area-wrap
              .form-field.form-field-input(data-field-input data-field-area-from data-status="field--inactive").first-offset
                .input-title  Яка площа?
                input(type='number' name="area-from" placeholder="0").form-field__input
                .input-message(data-input-message)
              .form-field.form-field-input(data-field-input data-field-area-to data-status="field--inactive").first-offset
                
                input(type='number' name="area-to" placeholder="300").form-field__input
                .input-message(data-input-message)

            .form-field.form-field-input(data-field-input data-field-features data-status="field--inactive").first-offset
              .input-title  Що має бути у квартирі? 
                span(style="opacity: 0.7") (можна обрати декілька варіантів)
              .form-checkbox-group
                label.custom-checkbox
                  input(type="checkbox" name="features[]" value="Вид" hidden)
                  span.checkbox-circle
                  |  Вид
                label.custom-checkbox
                  input(type="checkbox" name="features[]" value="Сонячна / не сонячна сторона" hidden)
                  span.checkbox-circle
                  |  Сонячна / не сонячна сторона
                label.custom-checkbox
                  input(type="checkbox" name="features[]" value="Велика кухня або кухня, обʼєднана з вітальнею" hidden)
                  span.checkbox-circle
                  |  Велика кухня або кухня, обʼєднана з вітальнею
                label.custom-checkbox
                  input(type="checkbox" name="features[]" value="2-3 санвузли" hidden)
                  span.checkbox-circle
                  |  2-3 санвузли
                label.custom-checkbox
                  input(type="checkbox" name="features[]" value="Гардеробна" hidden)
                  span.checkbox-circle
                  |  Гардеробна
                label.custom-checkbox
                  input(type="checkbox" name="features[]" value="Не останній поверх" hidden)
                  span.checkbox-circle
                  |  Не останній поверх
                label.custom-checkbox
                  input(type="checkbox" name="features[]" value="Дитяча та майстер-спальня на різних сторонах квартири тощо" hidden)
                  span.checkbox-circle
                  |  Дитяча та майстер-спальня на різних сторонах квартири тощо
            .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive").first-offset
              .input-title  Для кого обираєте квартиру?  
              .radio-group
                label.radio-btn
                  input(type="radio", name="option", value="Для себе", hidden checked )
                  span.custom-radio
                  | Для себе
                label.radio-btn
                  input(type="radio", name="option", value="Для своєї родини", hidden)
                  span.custom-radio
                  | Для своєї родини
                label.radio-btn
                  input(type="radio", name="option", value="Для батьків", hidden)
                  span.custom-radio
                  | Для батьків
                label.radio-btn
                  input(type="radio", name="option", value="Для дітей", hidden)
                  span.custom-radio
                  | Для дітей
                label.radio-btn
                  input(type="radio", name="option", value="Інвестую в нерухомість", hidden)
                  span.custom-radio
                  | Інвестую в нерухомість
            .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive").first-offset
              .input-title  Ваше ім’я*
              input(type='text' name="name" placeholder="Ваше ім’я").form-field__input
              .input-message(data-input-message)
            .form-field.form-field-input(data-field-input data-field-phone data-status="field--inactive")
              .input-title  Номер телефону*
              input(type='text' name="phone" placeholder="Телефон:").form-field__input
              .input-message(data-input-message)
          .form__button-wrapper
            button( type="submit" data-btn-submit).general-btn
              span.submit-btn__text(data-btn-submit-text) Замовити дзвінок
  .menu-overlay.hidden(data-menu)
    .menu-container
      .menu-list 
        .left-block
          a(href="#about").menu-item 
            span Про проєкт
          a(href="#flats").menu-item 
            span Квартири
          a(href="#advantages").menu-item 
            span Переваги
          a(href="#params").menu-item 
            span Характеристики
          a(href="#parking").menu-item 
            span Паркінг та укриття
          
        .right-block
          a(href="#gallery").menu-item 
            span Галерея
          a(href="#terms").menu-item 
            span Умови
          //- a(href="#progress").menu-item 
          //-   span Хід будівництва
          //- a(href="#news").menu-item 
          //-   span Акції та новини
          a(href="#documents").menu-item 
            span Документація
          a(href="#about-dev").menu-item 
            span Про забудовника
          a(href="#contacts").menu-item 
            span Контакти
      a(href="tel:+380732884610").header-phone
        span +380 (73) 288 46 10
      button.call-us-btn(data-call-us-btn) 
        span Замовити дзвінок


