
extends ../layout/main
block variable
  -
    var title_page = 'new_page'
    var id_page = 'id-page-new_page'
    var class_page = 'class-page-new_page'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')

block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")

block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/new_page.bundle.js')

block content
  section.top_section 
    .container
        .top_section__left
            img.img_big(src="../../assets/images/new_page/hero_section/hero-img.png")
        .top_section__right
            .top_section__title.title_96_48 Riel Family<br>Style —
            .top_section__subtitle.text_48_32 Архітектура<br>з родинними<br>цінностями
    img.figure(src="../../assets/images/new_page/hero_section/hero-decor.png")
    .bg

  section.concept_section 
    .container
      .concept-block
        img(src="../../assets/images/new_page/concept_section/concept-img.jpg", alt="").concept-img

        div.concept-content-block  
          h2.concept-title Концепція Riel Family Style створює простір, де поєднуються безпека, комфорт та емоційний добробут. 

          p.concept-text ЖК Sister реалізує сценарії життя з увагою до людяності, соцзв&apos;язків, природи й детальної архітектури, аби ви відчували себе вдома з першого кроку.

          a(href="#" target="_blank").concept-link Перейти до проєкту

      img(src="../../assets/images/new_page/concept_section/concept-logo.png", alt="").concept-logo

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
