
extends ../layout/main
block variable
  -
    var title_page = 'new_page'
    var id_page = 'id-page-new_page'
    var class_page = 'class-page-new_page'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')

block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")

block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/new_page.bundle.js')

block content
  section.top_section 
    .container
        .top_section__left
            img.img_big(src="../../assets/images/new_page/hero_section/hero-img.png")
        .top_section__right
            .top_section__title.title_96_48 Riel Family<br>Style —
            .top_section__subtitle.text_48_32 Архітектура<br>з родинними<br>цінностями
    img.figure(src="../../assets/images/new_page/hero_section/hero-decor.png")
    .bg

  section.concept_section 
    .container
      .concept-block
        img(src="../../assets/images/new_page/concept_section/concept-img.jpg", alt="").concept-img

        div.concept-content-block  
          h2.concept-title Концепція Riel Family Style створює простір, де поєднуються безпека, комфорт та емоційний добробут. 

          p.concept-text ЖК Sister реалізує сценарії життя з увагою до людяності, соцзв&apos;язків, природи й детальної архітектури, аби ви відчували себе вдома з першого кроку.

          a(href="#" target="_blank").concept-link Перейти до проєкту

    img(src="../../assets/images/new_page/concept_section/concept-logo.png", alt="").concept-logo

  section.advantages-section 
    .container 
      h2.advantages-title.chars-anim Переваги

      ul.advantages-list
        li.advantages-item 
          img(src="../../assets/images/new_page/advantages_section/adv-safe-place.png", alt="").advantages-item__image

          .advantages-item__content-block
            h3.advantages-item__title Безпечне середовище
            p.advantages-item__text Захищені двори, природне освітлення, зонування, що знижує стрес і тривожність.

        li.advantages-item 
          img(src="../../assets/images/new_page/advantages_section/adv-infrastructure.png", alt="").advantages-item__image

          .advantages-item__content-block
            h3.advantages-item__title Зручна інфраструктура
            p.advantages-item__text Все необхідне поруч: сервіси, магазини, дитячі й спільні простори мінімум за хвилини.

        li.advantages-item.community-item
          img(src="../../assets/images/new_page/advantages_section/adv-community.png", alt="").advantages-item__image

          .advantages-item__content-block
            h3.advantages-item__title Ком&apos;юніті та спільність
            p.advantages-item__text Місця для спілкування, взаємодії без зобов&apos;язань; підтримка сусідів і дружнє середовище.

        li.advantages-item 
          img(src="../../assets/images/new_page/advantages_section/adv-design-sense.png", alt="").advantages-item__image

          .advantages-item__content-block
            h3.advantages-item__title Дизайн із сенсом
            p.advantages-item__text Архітектура з ідентичністю, бренд-думка, продумані маршрути руху, деталі інтер&apos;єру й зовнішнього простору.

        li.advantages-item 
          img(src="../../assets/images/new_page/advantages_section/adv-comfort.png", alt="").advantages-item__image

          .advantages-item__content-block
            h3.advantages-item__title Емоційний комфорт
            p.advantages-item__text Природа, відчуття простору, тиша й світло — простори, що „лікують“ душу.

  section.summary-section 
    .container 
      .summary-content-block
        img(src="../../assets/images/new_page/summary_section/summary-img.jpg", alt="").summary-image

        .summary-text-block
          h2.summary-title.chars-anim Саммарі
          p.summary-text Riel Family Style у ЖК Father — це філософія житла, яка підкреслює безпеку, соціальні зв&apos;язки і емоційний комфорт, створюючи простір, де людина — в центрі.
          a(href="#" target="_blank").summary-link Залишити заявку

      img(src="../../assets/images/new_page/summary_section/summary-decor-1.png", alt="").summary-decor-1
      img(src="../../assets/images/new_page/summary_section/summary-decor-2.png", alt="").summary-decor-2

  section.gallery-section 
    .container 
      h2.gallery-title.chars-anim Галерея

      .swiper.gallery-swiper.gallery-images-block
        .swiper-wrapper
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-1.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-2.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-3.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-4.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-5.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-6.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-7.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-8.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-9.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-10.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-11.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-12.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-13.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-14.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-15.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-16.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-17.png", alt="").gallery-image
          .swiper-slide
            img(src="../../assets/images/new_page/gallery_section/gallery-img-18.png", alt="").gallery-image

        .swiper-button-next
          button(type="button" aria-label="Button for next slide").gallery-next-btn
            <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="gallery-next-icon">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62695 18.4141L22.5403 18.414L16.9978 23.9565L19.8263 26.7849L30.1972 16.414L19.8263 6.04314L16.9979 8.87157L22.5403 14.414L4.62695 14.4141L4.62695 18.4141Z"  />
            </svg>

        .swiper-button-prev
          button(type="button" aria-label="Button for previous slide").gallery-prev-btn
            <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="gallery-prev-icon">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62695 18.4141L22.5403 18.414L16.9978 23.9565L19.8263 26.7849L30.1972 16.414L19.8263 6.04314L16.9979 8.87157L22.5403 14.414L4.62695 14.4141L4.62695 18.4141Z" />
            </svg>

  section.about-section  
    .container
      .about-text-block
        h2.about-title.chars-anim Про проєкт
        a(href="#" target="_blank").about-link Перейти до проєкту

    .about-image-block 
      img(src="../../assets/images/new_page/about_section/about-img.png", alt="").about-build-img
      img(src="../../assets/images/new_page/about_section/about-decor.png", alt="").about-decor-img


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
